header .topline .buttons .toggle-menu span, header .topline .buttons .toggle-menu span::after, header .topline .buttons .toggle-menu span::before {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #a19c9c;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

* {
  margin: 0;
  padding: 0; }
  * .content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

body {
  font-family: Arial, sans-serif; }

header {
  border-bottom: 2px solid #FFDC4F;
  margin-bottom: 5px; }
  header .topline {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .topline img {
      width: 60px;
      height: auto; }
    header .topline .notifications span {
      margin-right: 7px;
      font-weight: bold; }
      header .topline .notifications span:nth-child(1) {
        color: #29502E; }
      header .topline .notifications span:nth-child(2) {
        color: #605B5B; }
      header .topline .notifications span:last-child {
        color: #B81B21;
        margin-right: 0; }
      header .topline .notifications span.active-number {
        text-decoration: underline; }
    header .topline .buttons {
      display: -webkit-flex;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 8px; }
      header .topline .buttons button {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        font-size: 0;
        background-color: transparent;
        -webkit-background-size: contain;
                background-size: contain;
        border: none; }
        header .topline .buttons button.shuffle {
          background: url("../img/shuffle.png") no-repeat center;
          -webkit-background-size: contain;
                  background-size: contain; }
        header .topline .buttons button.add-word {
          background: url("../img/add-word.png") no-repeat center;
          -webkit-background-size: contain;
                  background-size: contain; }
      header .topline .buttons .toggle-menu {
        margin: 7px 0 0 5px;
        width: 26px;
        height: 16px; }
        header .topline .buttons .toggle-menu span {
          position: relative; }
          header .topline .buttons .toggle-menu span::after, header .topline .buttons .toggle-menu span::before {
            position: absolute;
            content: "";
            display: block; }
          header .topline .buttons .toggle-menu span::after {
            top: 7px; }
          header .topline .buttons .toggle-menu span::before {
            top: 14px; }
        header .topline .buttons .toggle-menu.on span {
          background-color: transparent; }
          header .topline .buttons .toggle-menu.on span:before {
            -webkit-transform: rotate(-45deg) translate(5px, -5px);
                -ms-transform: rotate(-45deg) translate(5px, -5px);
                    transform: rotate(-45deg) translate(5px, -5px); }
          header .topline .buttons .toggle-menu.on span:after {
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg); }

main .search {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px; }

main .search-form {
  position: relative;
  width: 50%;
  min-width: 180px;
  font-size: 0; }
  main .search-form label {
    line-height: 20px;
    position: relative;
    font-size: 14px;
    color: #b3b0b0; }
  input {
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 86%;
    padding: 4px 35px 4px 5px;
    line-height: 16px;
    border: 1px solid #b3b0b0;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  main .search-form button {
    position: relative;
    vertical-align: top;
    width: 33px;
    height: 26px;
    margin-left: -9px;
    border: 1px solid #b3b0b0;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background: #fff url("../img/search-button.png") no-repeat center;
    font-size: 0; }

main .sort {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-bottom: 5px; }
  main .sort span {
    margin-right: 5px;
    font-size: 14px;
    color: #b2aeae; }
    main .sort span.active-sort {
      color: #7f7d7d; }
    main .sort span:last-child {
      margin-right: 0; }

.words-list .item {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px; }
  .words-list .item .word {
    width: 60%; }
    .eng {
      text-decoration: none;
      position: relative;
      font-size: 18px;
      color: #4c4c4c; }
      .eng::after {
        pointer-events: none;
        position: absolute;
        right: -23px;
        top: 0;
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: transparent url("../img/sound.png") no-repeat center;
        -webkit-background-size: contain;
                background-size: contain; }
    .words-list .item .word p {
      margin-bottom: 5px;
      font-size: 15px;
      color: #777777; }
    .words-list .item .word .translation {
      font-size: 15px;
      color: #c8c1c1; }
  .words-list .item .image {
    width: 120px;
    height: 120px;
    background: url("../img/onion.jpg") no-repeat center;
    -webkit-background-size: cover;
            background-size: cover; }

.go-back {
  margin-top: 10px; }
  .go-back a {
    position: relative;
    padding: 3px 0 3px 21px;
    font-size: 14px;
    color: #b3b0b0;
    text-decoration: none;
    font-family: serif; }
    .go-back a::before {
      content: "";
      display: block;
      width: 19px;
      height: 19px;
      position: absolute;
      left: 0;
      top: 1px;
      background: url("../img/back-button.png") center no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
  .go-back span {
    vertical-align: super; }

.add-word {
  margin-bottom: 10px; }
  .add-word .add-word-form {
    margin-top: 10px; }
    .add-word .add-word-form input {
      max-width: 100%;
      width: 100%;
      margin-bottom: 5px;
      padding: 2px 5px; }
    .add-word .add-word-form .buttons {
      display: -webkit-flex;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .add-word .add-word-form .buttons button {
        margin-right: 10px;
        padding: 10px 12px;
        background: none;
        border: none;
        font-size: 18px;
        color: #b3b0b0;
        cursor: pointer; }
        .add-word .add-word-form .buttons button:last-child {
          margin-right: 0; }
  .add-word .images img {
    display: inline-block;
    height: 130px;
    width: auto; }

.links {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
  margin-bottom: 10px; }
  .links a {
    font-size: 14px;
    color: #4c4c4c;
    text-decoration: none; }

.tags span {
  margin-right: 4px;
  font-size: 14px;
  color: #777777; }

@media only screen and (max-width: 480px) {
  .add-word .images img {
    height: 100px; }
  input {
    max-width: 180px; }
  .words-list .item .image {
    width: 90px;
    height: 90px; } }
