@import "colors", "placeholders"
*
  margin: 0
  padding: 0

  .content
    max-width: 480px
    width: 100%
    margin: 0 auto
    padding: 5px 15px
    box-sizing: border-box

.clearfix::after
  content: ""
  display: block
  clear: both

body
  font-family: Arial, sans-serif


header
  border-bottom: 2px solid $header-border
  margin-bottom: 5px
  .topline
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    align-items: center
    img
      width: 60px
      height: auto
    .notifications
      span
        margin-right: 7px
        font-weight: bold
        &:nth-child(1)
          color: $notification-green
        &:nth-child(2)
          color: $notification-gray
        &:last-child
          color: $notification-red
          margin-right: 0
        &.active-number
          text-decoration: underline
    .buttons
      display: -webkit-flex
      display: -ms-flex
      display: flex
      button
        width: 30px
        height: 30px
        margin-right: 10px
        font-size: 0
        background-color: transparent
        background-size: contain
        border: none
        &.shuffle
          background: url("../img/shuffle.png") no-repeat center
          background-size: contain
        &.add-word
          background: url("../img/add-word.png") no-repeat center
          background-size: contain
      .toggle-menu
        margin: 7px 0 0 5px
        width: 26px
        height: 16px
        span
          position: relative
          @extend %span-base
          &::after, &::before
            @extend %span-base
            position: absolute
            content: ""
            display: block
          &::after
            top: 7px
          &::before
            top: 14px
        &.on span
          background-color: transparent
          &:before
            transform: rotate(-45deg) translate(5px, -5px)
          &:after
            transform: rotate(45deg)


main
  .search
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 5px
  .search-form
    font-size: 0
    label
      line-height: 20px
      position: relative
      font-size: 14px
      color: #b3b0b0
    input
      position: relative
      vertical-align: top
      box-sizing: border-box
      max-width: 180px
      padding: 4px 40px 4px 5px
      line-height: 16px
      border: 1px solid #b3b0b0
      border-radius: 4px
      &.full::after
        content: "asd"
    button
      position: relative
      vertical-align: top
      width: 33px
      height: 26px
      margin-left: -9px
      border: 1px solid #b3b0b0
      border-radius: 4px
      background: #fff url("../img/search-button.png") no-repeat center
      font-size: 0
  .sort
    align-self: flex-end
    margin-bottom: 5px
    span
      margin-right: 5px
      font-size: 14px
      color: #b2aeae
      &.active-sort
        color: #7f7d7d
      &:last-child
        margin-right: 0

.words-list
  .item
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 20px
    .word
      max-width: 210px
      .eng
        position: relative
        padding-right: 25px
        font-size: 18px
        color: #4c4c4c
        &::after
          position: absolute
          right: 2px
          top: 0
          content: ""
          display: block
          width: 20px
          height: 20px
          background: transparent url("../img/sound.png") no-repeat center
          background-size: contain



      p
        margin-bottom: 5px
        font-size: 15px
        color: #777777
      .translation
        font-size: 15px
        color: #c8c1c1
    .image
      width: 90px
      height: 90px
      background: url("../img/onion.jpg") no-repeat center
      background-size: cover
